---
layout: default
---
<header class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-32 bg-white-100 border-full py-14">
    <div class="flex flex-col md:flex-row items-center">
        <img class="h-80" src="{{ "images/photo.png" | relative_url }}" alt="" srcset="">
        <div class="text-center md:text-left md:ml-10">
            <div class="mb-14">
                <h1 class="text-6xl pb-4 font-bold font-mono">Bonjour, je suis Romaric</h1>
                <p class="text-xl text-neutral-700">Développeur & Future Ingénieur en Cognitique</p>
            </div>
            <a class="d-block py-4 px-8 bg-blue-500 rounded-full font-bold font-sans text-white" href="#skills">Découvrez mon travail</a>
        </div>
    </div>
</header>

<section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-32 bg-white-100 border-full py-14" id="skills">
    <div class="flex flex-col md:items-center">
        <span class="text-blue-500 font-bold text-sm uppercase">Compétences</span>
        <h2 class="text-4xl md:text-5xl font-mono font-bold">Mes compétences</h2>
    </div>

    <div class="flex flex-col md:flex-row gap-5 mt-7">
        <div class="bg-white rounded-xl flex-1 items-center px-5 py-7">
            <div class="flex flex-row justify-between mb-7">
                <h3 class="font-bold uppercase text-xl">Développement</h3>
                <span class="font-bold uppercase text-neutral-400">3 ans</span>
            </div>
            <div class="flex flex-col gap-5 my-5">
                <p><span class="font-bold font-lg">Génie logiciel</span> : Typescript, Javascript Java, C#</p>
                <p><span class="font-bold font-lg">Frontend</span> : React.js, Vue.js</p>
                <p><span class="font-bold font-lg">Mobile</span> : Flutter, Android Studio</p>
            </div>
        </div>
        <div class="bg-white rounded-xl flex-1 items-center px-5 py-7">
            <div class="flex flex-row justify-between mb-7">
                <h3 class="font-bold uppercase text-xl">Datascience</h3>
                <span class="font-bold uppercase text-neutral-400">1 an</span>
            </div>
            <div class="flex flex-col gap-5 my-5">
                <p><span class="font-bold font-lg">Traitement du signal</span> : Matlab</p>
                <p><span class="font-bold font-lg">Statistique</span> : R studio</p>
                <p><span class="font-bold font-lg">Machine / Deep learning</span> : Python, Numpy, Scipy, Pandas</p>
            </div>
        </div>
    </div>
</section>

<section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-32 bg-white-100 border-full py-14" id="background">
    <div>
        <span class="text-blue-500 font-bold text-sm uppercase">Mon parcours</span>
        <h2 class="text-4xl md:text-5xl font-mono font-bold">Mon évolution en quelques mots</h2>
    </div>

    <div class="flex flex-col md:flex-row gap-5 mt-7">
        <div class="flex-1">
            <h3 class="font-bold uppercase text-xl">Ma première ligne de code</h3>
            <span class="font-bold uppercase text-neutral-600 text-lg">2016</span>
            <p>Début de la programmation avec Java et premiers pas dans le web avec HTML/CSS</p>
        </div>
        <div class="flex-1">
            <h3 class="font-bold uppercase text-xl">Intérêt pour les métiers du web</h3>
            <span class="font-bold uppercase text-neutral-600 text-lg">2019</span>
            <p>Formation à toutes les technos web et mobile du moment et au web design</p>
        </div>
        <div class="flex-1">
            <h3 class="font-bold uppercase text-xl">Mes début en freelance</h3>
            <span class="font-bold uppercase text-neutral-600 text-lg">2020</span>
            <p>Obtention de mon premier projet en tant que freelance</p>
        </div>
        <div class="flex-1">
            <h3 class="font-bold uppercase text-xl">Direction vers l’IA</h3>
            <span class="font-bold uppercase text-neutral-600 text-lg">2021</span>
            <p>Pris d’un grand intérêt pour l’IA, je rejoins l’école d’ingénieur en Cognitique à Bordeaux</p>
        </div>
    </div>
</section>

<svg height="100%" width="100%" viewBox="0 0 1821 130" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0L60.7 9.61458C121.4 19.4097 242.8 38.3681 364.2 38.5035C485.6 38.3681 607 19.4097 728.4 31.2813C849.8 43.3333 971.2 86.6667 1092.6 98.7188C1214 110.59 1335.4 91.6319 1456.8 84.2743C1578.2 77.1875 1699.6 81.7014 1760.3 84.2743L1821 86.6667V130H1760.3C1699.6 130 1578.2 130 1456.8 130C1335.4 130 1214 130 1092.6 130C971.2 130 849.8 130 728.4 130C607 130 485.6 130 364.2 130C242.8 130 121.4 130 60.7 130H0V0Z" fill="white"/>
</svg>

<div class="bg-white" id="works">
    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-32 bg-white-100 border-full py-14 ">
        <div class="flex flex-col md:items-center mb-14">
            <span class="text-blue-500 font-bold text-sm uppercase">Mes travaux</span>
            <h2 class="text-4xl md:text-5xl font-mono font-bold">Découvrez mes réalisations</h2>
        </div>
        <div class="hidden flew-row mb-7 max-w-full overflow-x-auto">
            <a data-type="ALL" class="categorie-selector d-block py-2 px-6 rounded-full font-bold font-sans bg-blue-500 text-white" href="">Tout</a>
            <a data-type="DEVELOPPEMENT" class="categorie-selector d-block py-2 px-6 rounded-full font-bold font-sans" href="">Développement</a>
            <a data-type="DATASCIENCE" class="categorie-selector d-block py-2 px-6 rounded-full font-bold font-sans" href="">Datascience</a>
        </div>
        <div class="grid grids-cols-1 md:grid-cols-3 gap-4 auto-rows-fr grid-flow-row-dense">
            {% assign firstFree = true %}
            {% for project in site.projects %}
                {%- include project-preview.html -%}
            {% endfor %}
            <div class="h-48"></div>
        </div>
    </section>
</div>
<svg height="100%" width="100%" viewBox="0 0 1280 136" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1280 136L1237.33 125.942C1194.67 115.694 1109.33 95.8611 1024 95.7194C938.667 95.8611 853.333 115.694 768 103.275C682.667 90.6666 597.333 45.3333 512 32.7249C426.667 20.3055 341.333 40.1388 256 47.836C170.667 55.2499 85.3333 50.5277 42.6666 47.836L7.92633e-06 45.3332L1.18895e-05 -0.000111901L42.6666 -0.000108171C85.3333 -0.000104441 170.667 -9.6981e-05 256 -8.95209e-05C341.333 -8.20608e-05 426.667 -7.46008e-05 512 -6.71407e-05C597.333 -5.96806e-05 682.667 -5.22205e-05 768 -4.47605e-05C853.333 -3.73004e-05 938.667 -2.98403e-05 1024 -2.23802e-05C1109.33 -1.49202e-05 1194.67 -7.46008e-06 1237.33 -3.73004e-06L1280 0L1280 136Z" fill="white"/>
</svg>

<section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-32 bg-white-100 border-full py-14" id="experiences">
    <div>
        <span class="text-blue-500 font-bold text-sm uppercase">Mes expériences</span>
        <h2 class="text-4xl md:text-5xl font-mono font-bold">Missions et stages accomplies</h2>
    </div>
    <div class="mt-10 grid grid-cols-3 gap-4">
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Vegetalsignals.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-teal-700 font-bold rounded-r-full uppercase tracking-widest">Freelance</span>
                <h3 class="font-bold uppercase text-xl">VegetalSignals - Data Engineering & Développement Fullstack</h3>
                <p class="font-bold uppercase text-neutral-500">juillet - aout 2022</p>
                <div class="mt-3">
                    <ul class="list-disc pl-4">
                        <li>Migration de données depuis l’ancienne base de données</li>
                        <li>Création d’un programme de déchargement de carte SD automatisés</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Vegetalsignals.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-red-700 font-bold rounded-r-full uppercase tracking-widest">Stage</span>
                <h3 class="font-bold uppercase text-xl">VegetalSignals - Data Engineering & Développement Fullstack</h3>
                <p class="font-bold uppercase text-neutral-500">juin 2022</p>
                <div class="mt-3">
                    <ul class="list-disc pl-4">
                        <li>Evolutions de l’architecture de stockage de l’entreprise</li>
                        <li>Développement et mise en place d’une REST API</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Devisrenov.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-teal-700 font-bold rounded-r-full uppercase tracking-widest">Freelance</span>
                <h3 class="font-bold uppercase text-xl">Devis Renov - dev fullstack </h3>
                <p class="font-bold uppercase text-neutral-500">juillet 2021 - Aujourd'hui</p>
                <div class="mt-3">
                    <p>Création et supervisation d’une application web de mise en relation prospect/artisan</p>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Patent2net.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-red-700 font-bold rounded-r-full uppercase tracking-widest">Stage</span>
                <h3 class="font-bold uppercase text-xl">Patent2Net - dev front-end</h3>
                <p class="font-bold uppercase text-neutral-500">avril - juillet 2021</p>
                <div class="mt-3">
                    <ul class="list-disc pl-4">
                        <li>Création d’une nouvelle interface pour l’application web</li>
                        <li>Ajout de nouvelles fonctionnalités</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Dunforce.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-teal-700 font-bold rounded-r-full uppercase tracking-widest">Freelance</span>
                <h3 class="font-bold uppercase text-xl">Ajout de nouvelles fonctionnalités</h3>
                <p class="font-bold uppercase text-neutral-500">septembre - octobre 2020</p>
                <div class="mt-3">
                    <p>Développement sur l’application front-end (react.js, sass, jest)</p>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Boaton.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-teal-700 font-bold rounded-r-full uppercase tracking-widest">Freelance</span>
                <h3 class="font-bold uppercase text-xl">BoatOn - dev fullstack & SEO</h3>
                <p class="font-bold uppercase text-neutral-500">aout 2020</p>
            </div>
        </div>
        <div class="flex flex-row gap-8 bg-white p-5 rounded-lg col-span-3 md:col-span-2">
            <div class="h-20 w-20 shrink-0">
                <img class="object-cover w-full" src="{{ "images/Boaton.png" | relative_url }}" alt="" srcset="">
            </div>
            <div class="flex-1">
                <span class="text-sm text-red-700 font-bold rounded-r-full uppercase tracking-widest">Stage</span>
                <h3 class="font-bold uppercase text-xl">BoatOn - dev fullstack & SEO</h3>
                <p class="font-bold uppercase text-neutral-500">juin - juillet 2020</p>
                <div class="mt-3">
                    <ul class="list-disc pl-4">
                        <li>Référencement naturel</li>
                        <li>Ajout de nouvelles fonctionnalités au carnet d'entretien</li>
                        <li>Système de langue, auto-complétion d'adresse</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<svg class="fill-blue-500" height="100%" width="100%" viewBox="0 0 1280 136" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="fill-blue-500" d="M0 0.000244141L42.6667 10.0586C85.3333 20.3058 170.667 40.1391 256 40.2808C341.333 40.1391 426.667 20.3057 512 32.7252C597.333 45.3335 682.667 90.6668 768 103.275C853.333 115.695 938.667 95.8612 1024 88.164C1109.33 80.7501 1194.67 85.4723 1237.33 88.1639L1280 90.6667L1280 136L1237.33 136C1194.67 136 1109.33 136 1024 136C938.667 136 853.333 136 768 136C682.667 136 597.333 136 512 136C426.667 136 341.333 136 256 136C170.667 136 85.3334 136 42.6667 136L2.3779e-05 136L0 0.000244141Z" fill="#3589D7"/>
</svg>

{% include footer.html %}